/* src/css/About.css */

.about-page {
    padding: 1rem;
    background-color: #fefaf6;
    text-align: center;
  }
  
  h2 {
    font-size: 1.5rem;
    color: #ff7f50;
    margin: 1rem 0;
  }
  
  p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
  }
  
  .values-section ul {
    list-style: none;
    padding: 0;
  }
  
  .values-section li {
    font-size: 1rem;
    color: #333;
    margin: 0.5rem 0;
  }
  