.add-expense-container {
  padding: 20px;
  background-color: #fff9f3;
}

.expense-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #443c3c;
  margin-bottom: 5px;
}

.form-input,
.form-select,
.form-textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-textarea {
  min-height: 100px;
}

.submit-button {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #ea8c1a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #d77a15;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
  text-align: center;
}
